[KGameTheme]
Name=Classic
FileName=classic.svgz
Author=Caig
AuthorEmail=
Description=A classic theme for KrossWord
Preview=classic.png

# Wheather or not the background is dark (affects shadows)
HasDarkBackground=false

# The glow color of highlighted cells
GlowColor=64,64,255
# The glow color of focused cells
FocusGlowColor=255,64,64

# The color for selected cells in edit mode
SelectionColor=255,100,100,128
# The color for empty cells in edit mode
EmptyCellColor=100,100,100,128

# Margins of cell contents: Left, Top, Right, Bottom
LetterCellMargins=4,4,4,4
ClueCellMargins=4,4,4,4
