[KGameTheme]
Name=Egyptian
Name[bs]=Egipatski
Name[cs]=Egyptské
Name[de]=Ägyptisch
Name[el]=Αιγυπτιακό
Name[en_GB]=Egyptian
Name[es]=Egipcio
Name[et]=Egiptus
Name[fr]=Égyptien
Name[ga]=Éigipteach
Name[it]=Egyptian
Name[km]=អេស៊ីប
Name[mr]=इजिप्शियन
Name[nds]=Ägyptsch
Name[nl]=Egyptisch
Name[pl]=Egipski
Name[pt]=Egípcio
Name[pt_BR]=Egípcio
Name[sk]=Egyptské
Name[sr]=Египатски
Name[sr@ijekavian]=Египатски
Name[sr@ijekavianlatin]=Egipatski
Name[sr@latin]=Egipatski
Name[sv]=Egyptiskt
Name[tr]=Mısırlı
Name[ug]=مىسىرلىق
Name[uk]=Єгипетська
Name[x-test]=xxEgyptianxx
FileName=egyptian.svgz
Author=Friedrich Pülz
AuthorEmail=fpuelz@gmx.de
Description=KrossWordPuzzle, Egyptian style.
Description[bs]=KrossWordPuzzle, Egipatski stil
Description[de]=Das ägyptische Design für KrossWordPuzzle.
Description[en_GB]=KrossWordPuzzle, Egyptian style.
Description[es]=KrossWordPuzzle, estilo egipcio.
Description[et]=KrossWordPuzzle Egiptuse stiilis.
Description[fr]=KrossWordPuzzle avec un style Égyptien.
Description[it]=KrossWordPuzzle, stile egiziano.
Description[km]=KrossWordPuzzle រចនាប័ទ្ម​អេស៊ីប ។
Description[pl]=Styl egipski KrossWordPuzzle.
Description[pt]=KrossWordPuzzle, estilo Egípcio.
Description[pt_BR]=KrossWordPuzzle, estilo Egípcio.
Description[sr]=К‑укрштеница у египатском стилу
Description[sr@ijekavian]=К‑укрштеница у египатском стилу
Description[sr@ijekavianlatin]=K‑ukrštenica u egipatskom stilu
Description[sr@latin]=K‑ukrštenica u egipatskom stilu
Description[sv]=Korsord, egyptisk stil.
Description[tr]=KrossWordPuzzle, Mısır biçemi.
Description[uk]=KrossWordPuzzle, єгипетський стиль.
Description[x-test]=xxKrossWordPuzzle, Egyptian style.xx
Preview=egyptian.png

# Wheather or not the background is dark (affects shadows)
HasDarkBackground=true

# The glow color of highlighted cells
GlowColor=255,220,40
# The glow color of focused cells
FocusGlowColor=255,40,20

# The color for selected cells in edit mode
SelectionColor=255,100,100,128
# The color for empty cells in edit mode
EmptyCellColor=70,70,70,128

# Margins of cell contents: Left, Top, Right, Bottom
LetterCellMargins=6,6,6,6
ClueCellMargins=7,6,7,6
