[KGameTheme]
Name=Egyptian
Name[bs]=Egipatski
Name[cs]=Egyptské
Name[de]=Ägyptisch
Name[el]=Αιγυπτιακό
Name[en_GB]=Egyptian
Name[es]=Egipcio
Name[et]=Egiptus
Name[fr]=Égyptien
Name[ga]=Éigipteach
Name[it]=Egyptian
Name[km]=អេស៊ីប
Name[mr]=इजिप्शियन
Name[nds]=Ägyptsch
Name[nl]=Egyptisch
Name[pl]=Egipski
Name[pt]=Egípcio
Name[pt_BR]=Egípcio
Name[sk]=Egyptské
Name[sr]=Египатски
Name[sr@ijekavian]=Египатски
Name[sr@ijekavianlatin]=Egipatski
Name[sr@latin]=Egipatski
Name[sv]=Egyptiskt
Name[tr]=Mısırlı
Name[ug]=مىسىرلىق
Name[uk]=Єгипетська
Name[x-test]=xxEgyptianxx
FileName=egyptian.svgz
Author=Friedrich Pülz
AuthorEmail=fpuelz@gmx.de
Description=Krossword, Egyptian style.
Description[bs]=Krossword, Egipatski stil
Description[de]=Das ägyptische Design für Krossword.
Description[en_GB]=Krossword, Egyptian style.
Description[es]=Krossword, estilo egipcio.
Description[et]=Krossword Egiptuse stiilis.
Description[fr]=Krossword avec un style Égyptien.
Description[it]=Krossword, stile egiziano.
Description[km]=Krossword រចនាប័ទ្ម​អេស៊ីប ។
Description[pl]=Styl egipski Krossword.
Description[pt]=Krossword, estilo Egípcio.
Description[pt_BR]=Krossword, estilo Egípcio.
Description[sr]=К‑укрштеница у египатском стилу
Description[sr@ijekavian]=К‑укрштеница у египатском стилу
Description[sr@ijekavianlatin]=K‑ukrštenica u egipatskom stilu
Description[sr@latin]=K‑ukrštenica u egipatskom stilu
Description[sv]=Korsord, egyptisk stil.
Description[tr]=Krossword, Mısır biçemi.
Description[uk]=Krossword, єгипетський стиль.
Description[x-test]=xxKrossword, Egyptian style.xx
Preview=egyptian.png

# The glow color of highlighted cells (255,220,40)
GlowColor=#FFDC28
# The glow color of focused cells (255,40,20)
FocusGlowColor=#FF2814

# The color for selected cells in edit mode (255,100,100,128) TODO: fix transparency
SelectionColor=#FF6464

# The font color (245,177,17)
FontColor=#F7CF42

# Margins of cell contents: Left, Top, Right, Bottom
LetterCellMargins=10,10,8,5
ClueCellMargins=7,6,7,6

#Size for the background element
PreferredRenderSize=1900,1240
