[KGameTheme]
Name=Ink
Name[en_GB]=Ink
Name[it]=Inchiostro
FileName=ink.svgz
Author=Andrea Barazzetti
AuthorEmail=andreadevsrv@gmail.com
Description=Ink theme for Krossword.
Description[en_GB]=Ink theme for Krossword.
Description[it]=Tema inchiostro per Krossword.
Preview=ink.png

# The glow color of highlighted cells
GlowColor=#B5B5B5
# The glow color of focused cells
FocusGlowColor=#525252

# The color for selected cells in edit mode
SelectionColor=#525252
# The color for empty cells in edit mode
EmptyCellColor=#B8B8B8

# The font color
FontColor=#1F1F1F

# Margins of cell contents: Left, Top, Right, Bottom
LetterCellMargins=4,10,4,2
ClueCellMargins=3,3,3,3

#Size for the background element (image from http://subtlepatterns.com/paper-1/ - CC BY-SA 3.0)
PreferredRenderSize=400,400
