[KGameTheme]
Name=Scribble
Name[bs]=Piskaranje
Name[cs]=Scribble
Name[de]=Scribble
Name[en_GB]=Scribble
Name[eo]=Scribble
Name[es]=Garabatos
Name[et]=Scribble
Name[fr]=Scribble
Name[ga]=Scribble
Name[it]=Scarabocchio
Name[km]=ដែល​អាច​គូសវាស​បាន
Name[mr]=स्क्रिबल
Name[nds]=Kritteln
Name[nl]=Scribble
Name[nn]=Rabling
Name[pl]=Bazgroły
Name[pt]=Scribble
Name[pt_BR]=Scribble
Name[sk]=Scribble
Name[sr]=Пискарало
Name[sr@ijekavian]=Пискарало
Name[sr@ijekavianlatin]=Piskaralo
Name[sr@latin]=Piskaralo
Name[sv]=Handskrivet
Name[tr]=Scribble
Name[uk]=Шкрябанина
Name[x-test]=xxScribblexx
FileName=scribble.svgz
Author=Friedrich Pülz
AuthorEmail=fpuelz@gmx.de
Description=Scribble theme for KrossWordPuzzle.
Description[bs]=Tema sa škrabotinama za KrossWordPuzzle.
Description[de]=Scribble-Design für KrossWordPuzzle
Description[en_GB]=Scribble theme for KrossWordPuzzle.
Description[es]=Tema Garabatos para KrossWordPuzzle.
Description[et]=KrossWordPuzzle Scribble teema
Description[fr]=Thème « Scribble » pour KrossWordPuzzle
Description[it]=Tema scarabocchio per KrossWordPuzzle.
Description[km]=ស្បែក​ដែល​អាច​គូសវាស​បាន​សម្រាប់ KrossWordPuzzle ។
Description[pl]=Motyw bazgrół dla KrossWordPuzzle.
Description[pt]=Tema Scribble para o KrossWordPuzzle.
Description[pt_BR]=Tema Scribble para o KrossWordPuzzle.
Description[sr]=Тема пискарала за К‑укрштеницу
Description[sr@ijekavian]=Тема пискарала за К‑укрштеницу
Description[sr@ijekavianlatin]=Tema piskarala za K‑ukrštenicu
Description[sr@latin]=Tema piskarala za K‑ukrštenicu
Description[sv]=Handskrivet tema för Korsord
Description[tr]=KrossWordPuzzle için Scribble teması
Description[uk]=Тема «Шкрябанина» для KrossWordPuzzle.
Description[x-test]=xxScribble theme for KrossWordPuzzle.xx
Preview=scribble.png

# Wheather or not the background is dark (affects shadows)
HasDarkBackground=false

# The glow color of highlighted cells
GlowColor=64,64,255
# The glow color of focused cells
FocusGlowColor=255,64,64

# The color for selected cells in edit mode
SelectionColor=255,100,100,128
# The color for empty cells in edit mode
EmptyCellColor=100,100,100,128

# The position of clue numbers for american crosswords
ClueNumberPos=BottomRight
# The position of number clues inside letter cells for number puzzles
NumberPuzzleCluePos=TopRight
# The position of the index for solution letters
SolutionLetterIndexPos=BottomLeft

# Margins of cell contents: Left, Top, Right, Bottom
LetterCellMargins=3,3,3,3
ClueCellMargins=3,3,3,3
