[KGameTheme]
Name=Scribble
Name[bs]=Piskaranje
Name[cs]=Scribble
Name[de]=Scribble
Name[en_GB]=Scribble
Name[eo]=Scribble
Name[es]=Garabatos
Name[et]=Scribble
Name[fr]=Scribble
Name[ga]=Scribble
Name[it]=Scarabocchio
Name[km]=ដែល​អាច​គូសវាស​បាន
Name[mr]=स्क्रिबल
Name[nds]=Kritteln
Name[nl]=Scribble
Name[nn]=Rabling
Name[pl]=Bazgroły
Name[pt]=Scribble
Name[pt_BR]=Scribble
Name[sk]=Scribble
Name[sr]=Пискарало
Name[sr@ijekavian]=Пискарало
Name[sr@ijekavianlatin]=Piskaralo
Name[sr@latin]=Piskaralo
Name[sv]=Handskrivet
Name[tr]=Scribble
Name[uk]=Шкрябанина
Name[x-test]=xxScribblexx
FileName=scribble.svgz
Author=Friedrich Pülz
AuthorEmail=fpuelz@gmx.de
Description=Scribble theme for Krossword.
Description[bs]=Tema sa škrabotinama za Krossword.
Description[de]=Scribble-Design für Krossword
Description[en_GB]=Scribble theme for Krossword.
Description[es]=Tema Garabatos para Krossword.
Description[et]=Krossword Scribble teema
Description[fr]=Thème « Scribble » pour Krossword
Description[it]=Tema scarabocchio per Krossword.
Description[km]=ស្បែក​ដែល​អាច​គូសវាស​បាន​សម្រាប់ Krossword ។
Description[pl]=Motyw bazgrół dla Krossword.
Description[pt]=Tema Scribble para o Krossword.
Description[pt_BR]=Tema Scribble para o Krossword.
Description[sr]=Тема пискарала за К‑укрштеницу
Description[sr@ijekavian]=Тема пискарала за К‑укрштеницу
Description[sr@ijekavianlatin]=Tema piskarala za K‑ukrštenicu
Description[sr@latin]=Tema piskarala za K‑ukrštenicu
Description[sv]=Handskrivet tema för Korsord
Description[tr]=Krossword için Scribble teması
Description[uk]=Тема «Шкрябанина» для Krossword.
Description[x-test]=xxScribble theme for Krossword.xx
Preview=scribble.png

# The glow color of highlighted cells
GlowColor=#4040FF
# The glow color of focused cells
FocusGlowColor=#FF4040

# The color for selected cells in edit mode
SelectionColor=#FF6464
# The color for empty cells in edit mode
EmptyCellColor=#646464

# The font color
FontColor=#396FB3

# Margins of cell contents: Left, Top, Right, Bottom
LetterCellMargins=4,10,4,2
ClueCellMargins=3,3,3,3

#Size for the background element (image from http://subtlepatterns.com/paper-fibers - CC BY-SA 3.0)
PreferredRenderSize=410,410
