<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="krosswordpuzzle_library" version="1">

<!-- Toolbars -->
<ToolBar name="libraryToolBar">
    <text>Library</text>
    <Action name="library_new_crossword" />
    <Separator />
    <Action name="library_open" />
    <Action name="library_delete" />
    <Separator />
    <Action name="library_download" />
    <Action name="library_import" />
    <Action name="library_export" />   
</ToolBar>

</kpartgui>
