<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="krossword_library" version="1">

<!-- Toolbars -->
<ToolBar name="libraryToolBar">
    <text>Library</text>
    <Action name="library_create_crossword" />
    <Separator />
    <Action name="library_download" />
    <Action name="library_add" />
    <Action name="library_delete" />
    <Separator />
    <Action name="library_export" />  
</ToolBar>

</kpartgui>
