[Desktop Entry]
Name=KrossWordPuzzle
Name[de]=KrossWordPuzzle
Name[en_GB]=KrossWordPuzzle
Name[es]=Crucigrama KrossWordPuzzle
Name[et]=KrossWordPuzzle
Name[fr]=KrossWordPuzzle
Name[it]=KrossWordPuzzle
Name[km]=KrossWordPuzzle
Name[pl]=KrossWordPuzzle
Name[pt]=KrossWordPuzzle
Name[pt_BR]=KrossWordPuzzle
Name[sv]=Korsord
Name[tr]=KrossWordPuzzle
Name[uk]=KrossWordPuzzle
Name[x-test]=xxKrossWordPuzzlexx
Exec=krosswordpuzzle %i -caption "%c"
Icon=krosswordpuzzle
Type=Application
MimeType=application/x-acrosslite-puz;application/x-krosswordpuzzle;application/x-krosswordpuzzle-compressed;
X-DocPath=krosswordpuzzle/index.html
GenericName=Crossword puzzle game
GenericName[de]=Kreuzworträtsel
GenericName[en_GB]=Crossword puzzle game
GenericName[es]=Juego de crucigrama
GenericName[et]=Ristsõna
GenericName[fr]=Jeu de mots croisé
GenericName[it]=Gioco rompicapo a parole crociate
GenericName[km]=ល្បែង​ផ្គុំ​រូប​ខ្វែង
GenericName[nds]=Krüüzwoortradel
GenericName[pl]=Gra w krzyżówkę
GenericName[pt]=Um jogo de palavras cruzadas
GenericName[pt_BR]=Um jogo de palavras cruzadas
GenericName[sv]=Korsordsspel
GenericName[tr]=Çapraz bulmaca oyunu
GenericName[uk]=Гра у розгадування кросворда
GenericName[x-test]=xxCrossword puzzle gamexx
Terminal=false
Categories=Qt;KDE;Game;LogicGame;
