<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="krossword-mainwindow" version="4">

<!-- Menu bar -->
<MenuBar>
    <Menu name="game">
        <ActionList name="library_game_list" />
        <ActionList name="crossword_game_list" />
    </Menu>

    <Menu name="settings">
        <ActionList name="options_list" />
    </Menu>
</MenuBar>

</kpartgui>
