[Desktop Entry]
Name=Krossword
Name[bs]=Krossword
Name[de]=Krossword
Name[en_GB]=Krossword
Name[es]=Crucigrama Krossword
Name[et]=Krossword
Name[fr]=Krossword
Name[ga]=Krossword
Name[it]=Krossword
Name[km]=Krossword
Name[nl]=Krossword
Name[pl]=Krossword
Name[pt]=Krossword
Name[pt_BR]=Krossword
Name[sr]=К‑укрштеница
Name[sr@ijekavian]=К‑укрштеница
Name[sr@ijekavianlatin]=K‑ukrštenica
Name[sr@latin]=K‑ukrštenica
Name[sv]=Korsord
Name[tr]=Krossword
Name[uk]=Krossword
Name[x-test]=xxKrosswordxx
Exec=krossword
Icon=krossword
Type=Application
MimeType=application/x-crossword;application/x-krosswordpuzzle;application/x-krosswordpuzzle-compressed;
X-DocPath=krossword/index.html
GenericName=Crossword puzzle game
GenericName[bs]=Igrica križaljki
GenericName[de]=Kreuzworträtsel
GenericName[en_GB]=Crossword puzzle game
GenericName[es]=Juego de crucigrama
GenericName[et]=Ristsõna
GenericName[fr]=Jeu de mots croisés
GenericName[ga]=Cluiche crosfhocail
GenericName[it]=Gioco rompicapo a parole crociate
GenericName[km]=ល្បែង​ផ្គុំ​រូប​ខ្វែង
GenericName[nds]=Krüüzwoortradel
GenericName[nl]=Kruiswoordpuzzel-spel
GenericName[pl]=Gra w krzyżówkę
GenericName[pt]=Um jogo de palavras cruzadas
GenericName[pt_BR]=Um jogo de palavras cruzadas
GenericName[sr]=Игра укрштених речи
GenericName[sr@ijekavian]=Игра укрштених речи
GenericName[sr@ijekavianlatin]=Igra ukrštenih reči
GenericName[sr@latin]=Igra ukrštenih reči
GenericName[sv]=Korsordsspel
GenericName[tr]=Çapraz bulmaca oyunu
GenericName[uk]=Гра у розгадування кросворда
GenericName[x-test]=xxCrossword puzzle gamexx
Terminal=false
Categories=Qt;KDE;Game;LogicGame;
